* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
 }

nav,
main,
header,
footer{
    padding: 16px;
    text-align: center;

}

p{
    font-size: large;
    line-height: 150%;
    text-align: justify;
}

.lista-navegacion{
    background-color: teal;
    align-items: center;
    min-height: 8vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-around;
    width: 100%;
}

.lista-navegacion a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 25px;
    padding: 14px 16px;
}

.lista-navegacion li{
    list-style: none;
}

.lista-navegacion li a:hover:not(.active){
    background-color: lightseagreen;
}

button {
    font-size: large;
    margin: 2%;
    cursor: pointer;
}

.tablas {
    padding: 3%;
}

label, input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    font-size: large;
}
label {
    background:rgb(175, 247, 190);
}
input {
    background:whitesmoke;
}
input:focus{
    background-color:#ddd;
}